<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rbe_500)/custom_robot_gazebo/worlds/custom_scara.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="true"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find rbe_500)/custom_robot_description/urdf/custom_scara.urdf -urdf -z 1 -model custom_scara" />

  <!-- Launch controller for robot joints -->
 <include file="$(find rbe_500)/custom_robot_control/launch/custom_robot_control.launch"> 
 </include>
</launch>
